[build-system]
requires = ["setuptools>=45", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "ask"
version = "0.1.0"
description = "CLI tool for coding and researching with LLMs"
authors = [
    {name = "Mitchell Goff", email = "mitchellgoffpc@gmail.com"},
]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
]
dependencies = [
    "aiohttp",
    "markdown",
    "pygments",
    "tqdm",
    "types-markdown",
    "types-pygments",
]

[project.scripts]
ask = "ask.main:main"

[project.optional-dependencies]
linting = [
    "ruff",
    "mypy",
    "pre-commit",
]

[tool.setuptools]
packages = ["ask"]
include-package-data = true

[tool.setuptools.package-data]
"*" = ["*"]

[tool.ruff]
line-length = 160
target-version = "py311"
exclude = ["lakitu/env/lib/"]

[tool.ruff.lint]
select = ["E", "F", "I", "N", "W", "B"]
ignore = ["E701", "I001", "N802", "N812", "N813"]

[tool.mypy]
python_version = "3.11"
explicit_package_bases = true
check_untyped_defs = true
no_implicit_optional = true
cache_dir = "/dev/null"

disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_untyped_decorators = true

strict_optional = true
strict_equality = true

warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true
warn_no_return = true
warn_redundant_casts = true

[[tool.mypy.overrides]]
module = "test.*"
disallow_untyped_defs = false